div.container {
  margin-top: 20px;
}

input.hidden {
  display: none;
}

div.center {
  text-align: center;
}

div#ui-datepicker-div {
  background-color: #ddd;
  padding: 10px;
  display: none;
}

span.ui-icon-circle-triangle-e,
span.ui-icon-circle-triangle-w {
  cursor: pointer;
}

span.ui-icon-circle-triangle-e {
  /*background-image: url('/images/glyphicons-chevron-right.png');*/
  float: right;
}

span.ui-icon-circle-triangle-w {
  /*background-image: url('/images/glyphicons-chevron-left.png');*/
  float: left;
}

div.ui-datepicker-title {
  text-align: center;
}

label.week_day {
  padding: 0 10px;
}
